/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
/* If a floated element is taller than the containing element, it will "overflow" outside of its container. We can then add a clearfix hack to solve this problem: */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
h1, h2, h3, h4, h5, h6 {
    font-family: "Charm", "Roboto", Arial, Helvetica, sans-serif;
}
ul {
    padding: 0;
}


/******************************************
/* LAYOUT
/*******************************************/
.hero {
    width: 100%;
    padding: 20px 200px;
    justify-items: center;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    justify-self: flex-start;
}
nav {

}
.nav-links {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.hero-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
.hero-text {
    
}
.hero-side-image {
    margin-left: 300px;
}
.information-cards {
    list-style-type: none;
    margin: 50px 100px;
    display: flex;
    justify-content: center;
}
.card {
    max-width: 20%;
    justify-items: center;
}
.card-image {
    height: 125px;
    width: 125px;
    border: 2px solid #3882f6; 
    border-radius: 5px;
}
main {
    width: 100%;
    justify-items: center;
}
.quote {
    padding: 50px 25%;
}
.call-to-action {
    margin: 75px 0;
    width: 75%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.call-to-action-text {
    text-align: left;
}

footer {
    width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hero-head-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
/* Hero and footer background color */
.hero, footer {
    background-color: #1f2937;
}
.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}
/* Hero secondary text, header link text */
.hero-secondary-text, .nav-links {
    font-size: 18px;
}

.information-header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.call-to-action, .call-to-action-button, footer, .hero-secondary-text, .nav-links {
    color: #e5e7eb;
}
button, .call-to-action {
    background-color: #3882f6;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.call-to-action-button {
    border: #e5e7eb solid 2px;
}

.quote {
    background-color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

